.navbar {
    margin-bottom: 0;
}

@media screen and (min-width: $screen-sm) {
    .navbar .container {
        height: 100px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .menu-bar {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;

        ul {
            float: right !important;
        }
    }
}

.navbar .nav {
    display:inline-block;
    float: none;
}

.custom-logo-link {
    img {
        width: 75px;
        height: auto;
        margin: 10px;
    }
}

.navbar-brand {
    font-style: italic;
    font-size: 12pt;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-nav .current-menu-parent>a {
    color: $navbar-default-link-active-color !important;
    text-decoration: underline;
}

.menu-item a {
    font-weight: bold;
}
