.sidebar .menu {
    background-color: $body-bg;
    padding: $padding-base-horizontal;
    border-left: 3px solid lighten($main-bg, 10%);

    li {
        list-style: none;
        padding: $padding-base-vertical 0;
    }

    a {
        text-decoration: none;
        color: $nav-link-color;
    }

    .current-menu-item a {
        color: $nav-link-color-active;
    }
}
