$main-bg: #3c225e;
$body-bg: darken($main-bg, 5%);
$text-color: #fff;
$nav-link-color: #fff;
$nav-link-color-active: #ef8600;
$link-color: $nav-link-color-active;

$font-size-base: 12pt;

$dropdown-bg: darken($main-bg, 5%);
$dropdown-link-color: $text-color;
$dropdown-link-active-bg: darken($main-bg, 10%);

$navbar-border-radius: 0;
$navbar-default-bg: $main-bg;
$navbar-default-color: #fff;
$navbar-default-border: transparent;

$navbar-default-link-color: #fff;
$navbar-default-link-active-color: $nav-link-color-active;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-hover-color: $navbar-default-link-active-color;
