@import "variables";
@import "bootstrap";
@import "sidemenu";

@import "navbar";

main {
    padding-top: $navbar-margin-bottom;
}

.row {
    margin-top: $padding-large-vertical;
    margin-bottom: $padding-large-vertical;
}

main, nav {
    background-color: $main-bg;
}

li.widget {
    list-style: none;
}

footer {
    margin-top: $padding-large-vertical * 2;
    padding: $padding-large-vertical 0;

    .copyright {
        margin: $padding-large-vertical 0;
    }
}
